@import url("https://fonts.googleapis.com/css2?family=Fahkwang:wght@400;700&family=Inter:wght@300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
h1,
h2,
h3 {
	@apply font-fahkwang font-bold;
}
p {
	@apply font-inter;
}

.ele {
	animation-name: fadeIn;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
	0% {
		background-color: transparent;
		opacity: 0;
		transform: translateY(60px);
	}
	100% {
		background-color: white;
		opacity: 1;
		transform: translateY(0);
	}
}
